<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Reset Password</title>
  <link rel="icon" type="icon" th:href="@{/assets/logo-img/Chinese House logo-svg.png}">
  <link rel="stylesheet" th:href="@{/css/rest_password.css}">
  <style>
  
</style>
</head>
<body>
  <div class="form-container">
    <h2>Reset Password</h2>

    <form th:action="@{/reset-password}" method="post">
      <input type="hidden" name="username" th:value="${username}"/>

      <label>New Password:</label>
      <input type="password" name="password" required/>

      <label>Confirm Password:</label>
      <input type="password" name="confirmPassword" required/>

      <button type="submit">Update Password</button>
    </form>

    <p th:text="${error}" style="color:red;"></p>
    <p th:text="${success}" style="color:green;"></p>

    <a th:href="@{/login}">Back to Login</a>
  </div>
</body>
</html>
